In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datafile.csv')

In [3]:
df.head()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,Rural,2013,January,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,NaN,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
3,Rural,2013,February,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,NaN,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7

In [4]:
df.describe()

,Year,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,Pulses and products,Sugar and Confectionery,...,Clothing and footwear,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
count,365.000000,362.000000,359.000000,362.000000,362.00000,362.000000,362.000000,362.000000,362.000000,362.000000,...,359.000000,362.000000,359.000000,362.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000
mean,2017.608219,135.964641,155.181337,140.188674,139.58232,131.341436,140.206077,155.654420,140.797238,110.711878,...,140.826184,135.625138,135.946518,137.621271,126.438162,133.167688,140.436769,132.359889,133.438997,138.807799
std,2.965449,14.205793,32.748072,22.302255,17.72663,29.694624,16.913214,28.092482,23.727066,8.970045,...,20.282839,21.526522,18.754522,23.026004,18.604797,19.636254,20.811885,22.243857,20.198469,19.831978
min,2013.000000,107.500000,106.300000,102.700000,103.60000,101.100000,102.300000,101.400000,103.500000,85.300000,...,105.800000,105.400000,104.800000,104.000000,103.200000,102.900000,103.500000,102.100000,103.700000,104.000000
25%,2015.000000,124.025000,129.800000,122.000000,128.22500,110.400000,130.175000,134.700000,119.825000,103.350000,...,124.800000,116.250000,120.800000,118.275000,111.650000,117.050000,123.350000,112.350000,116.400000,123.100000
50%,2018.000000,135.450000,143.900000,134.750000,140.80000,119.900000,140.200000,153.350000,138.300000,113.200000,...,140.800000,131.100000,134.700000,133.050000,119.400000,129.400000,139.000000,126.800000,128.900000,136.400000
75%,2020.000000,145.900000,189.750000,156.475000,153.67500,138.200000,151.750000,171.200000,164.100000,118.100000,...,152.200000,147.875000,150.100000,156.075000,139.050000,148.650000,159.150000,154.750000,149.150000,154.950000
max,2023.000000,174.700000,223.400000,197.000000,177.90000,209.900000,179.500000,245.300000,191.600000,123.900000,...,189.600000,183.200000,178.600000,186.600000,169.000000,172.800000,178.500000,181.500000,177.900000,178.000000